<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8"/>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <nav>
    <h4>Home</h4>
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/myproj">My Projects</a></li>
        <li><a href="/sharedproj">Shared Projects</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <button type="button" class="login-button" onclick="location.href='/edittask'">Back</button>
<div><br></div>
  <button type="button" class="login-button" onclick="location.href='/newact'">New Activity</button>
  <div id="activities">

  </div>
  {{#if activities}}
    <script>
      var text = "{{activities}}";
      var text = text.replace(/&quot;/g, '\"');
      var obj = JSON.parse(text);
      function project(i){
        const div = document.getElementById('activities');

        const form = document.createElement("form");
        form.setAttribute("class", "form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "/select/activities");

        const ID = document.createElement("input");
        ID.setAttribute("id", obj[i].act_id);
        ID.setAttribute("type", "hidden");
        ID.setAttribute("name", "ID");
        ID.setAttribute("value", obj[i].act_id);


        const Title = document.createElement("h1");
        Title.setAttribute("id", "name"+i);
        Title.setAttribute("class", "login-title");

        const Desc = document.createElement("h3");
        Desc.setAttribute("id", "desc"+i);
        Desc.setAttribute("class", "login-title");

        const grid = document.createElement("div");
        grid.setAttribute("class", "grid-container");

        const item1 = document.createElement("div");
        item1.setAttribute("class", "grid-item");
        item1.setAttribute("id", "grid-item1");

        const item2 = document.createElement("div");
        item2.setAttribute("class", "grid-item");
        item2.setAttribute("id", "grid-item2");

        const button1 = document.createElement("input");
        button1.setAttribute("type", "submit")
        button1.setAttribute("value", "edit")
        button1.setAttribute("name", "type")

        const button2 = document.createElement("input");
        button2.setAttribute("type", "submit")
        button2.setAttribute("value", "view")
        button2.setAttribute("name", "type")

        div.appendChild(form);
        form.appendChild(ID);
        form.appendChild(Title);
        form.appendChild(Desc);
        form.appendChild(grid);
        grid.appendChild(item1);
        grid.appendChild(item2);
        item1.appendChild(button1);
        item2.appendChild(button2);
        document.getElementById("name"+i).innerHTML = obj[i].act_name;
        document.getElementById("desc"+i).innerHTML = obj[i].act_desc;
      }
      for(let i = 0; i < obj.length; i++) {
        project(i);
      }
    </script>
  {{/if}} 
</body>