<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8"/>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <nav>
    <h4>Home</h4>
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/myproj">My Projects</a></li>
        <li><a href="/sharedproj">Shared Projects</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <button type="button" class="login-button" onclick="location.href='/myproj'">Exit</button>
  <form class="form" action="/edit/project" method="POST">
    <h2>Edit Project</h2>
    <h3 class="login-title">Project Name:</h3>
    <input type="text" class="login-input" id="name" placeholder="Name" name="name" required>
    <h3 class="login-title">Project Description:</h3>
    <input type="text" class="login-input" id="desc" placeholder="Description" name="desc" required>
    <h3 class="login-title">Budget:</h3>
    <input type="number" class="login-input" id="budget" placeholder="Budget" name="budget" min="0" required>
    <h3 class="login-title">Start Date:</h3>
    <input type="date" class="login-input" id="start_date" placeholder="Start Date" name="start_date" required>
    <h3 class="login-title">End Date:</h3>
    <input type="date" class="login-input" id="end_date" placeholder="End Date" name="end_date" required>
    <button type="submit" class="login-button">Submit</button>
  </form>
  <form class="form">
    <button type="button" class="login-button" onclick="location.href='/tasks'">Edit Tasks</button>
  </form>
  <form class="form" action="/del/project" method="POST">
    <button type="submit" class="login-button">Delete Project</button>
  </form>
  </div>
  {{#if project}}
    <script>
      var text = "{{project}}";
      var text = text.replace(/&quot;/g, '\"');
      var obj = JSON.parse(text);
      var project = obj[0];
      document.getElementById("name").setAttribute("placeholder", project.proj_name)
      document.getElementById("name").setAttribute("value", project.proj_name)
      document.getElementById("desc").setAttribute("placeholder", project.proj_desc)
      document.getElementById("desc").setAttribute("value", project.proj_desc)
      document.getElementById("budget").setAttribute("placeholder", project.budget)
      document.getElementById("budget").setAttribute("value", project.budget)
      document.getElementById("start_date").setAttribute("placeholder", project.start_date.split('T')[0])
      document.getElementById("start_date").setAttribute("min", project.start_date.split('T')[0])
      document.getElementById("start_date").setAttribute("value", project.start_date.split('T')[0])
      document.getElementById("end_date").setAttribute("placeholder", project.end_date.split('T')[0])
      document.getElementById("end_date").setAttribute("min", project.end_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("value", project.end_date.split('T')[0])
    </script>
  {{/if}}
</body>