<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8"/>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <nav>
    <h4>Home</h4>
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/myproj">My Projects</a></li>
        <li><a href="/sharedproj">Shared Projects</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <button type="button" class="login-button" onclick="location.href='/tasks'">Exit</button>
  <form class="form" action="/edit/task" method="POST">
    <h2>Edit Task</h2>
    <h3 class="login-title">Task Name:</h3>
    <input type="text" class="login-input" id="name" placeholder="Name" name="name" required>
    <h3 class="login-title">Task Description:</h3>
    <input type="text" class="login-input" id="desc" placeholder="Description" name="desc" required>
    <h3 class="login-title">Start Date:</h3>
    <input type="date" class="login-input" id="start_date" placeholder="Start Date" name="start_date" required>
    <h3 class="login-title">End Date:</h3>
    <input type="date" class="login-input" id="end_date" placeholder="End Date" name="end_date" required>
    <button type="submit" class="login-button">Submit</button>
  </form>
  <form class="form">
    <button type="button" class="login-button" onclick="location.href='/acts'">Edit Activities</button>
  </form>
  <form class="form" action="/del/task" method="POST">
    <button type="submit" class="login-button">Delete Task</button>
  </form>
  </div>
  {{#if task}}
    <script>
      var text = "{{task}}";
      var text = text.replace(/&quot;/g, '\"');
      var obj = JSON.parse(text);
      var task = obj[0];
      var project = "{{project}}";
      var project = project.replace(/&quot;/g, '\"');
      var obj = JSON.parse(project);
      var project = obj[0];
      document.getElementById("name").setAttribute("placeholder", task.task_name);
      document.getElementById("name").setAttribute("value", task.task_name);
      document.getElementById("desc").setAttribute("placeholder", task.task_desc);
      document.getElementById("desc").setAttribute("value", task.task_desc);
      document.getElementById("start_date").setAttribute("placeholder", task.start_date.split('T')[0]);
      document.getElementById("start_date").setAttribute("min", project.start_date.split('T')[0]);
      document.getElementById("start_date").setAttribute("max", project.end_date.split('T')[0]);
      document.getElementById("start_date").setAttribute("value", task.start_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("placeholder", task.end_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("min", project.start_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("max", project.end_date.split('T')[0]);
      document.getElementById("end_date").setAttribute("value", task.end_date.split('T')[0]);
    </script>
  {{/if}}
</body>