<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8"/>
  <title>New</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <nav>
    <h4>Home</h4>
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/myproj">My Projects</a></li>
        <li><a href="/sharedproj">Shared Projects</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <!-- New Project -->
    {{#if project}}
        <button type="button" class="login-button" onclick="location.href='/myproj'">Exit</button>
        <form class="form" action="/create/project" method="POST">
            <h1 class="login-title">New Project</h1>
            <h3 class="login-title">Project Name:</h1>
            <input type="text" class="login-input" id="name" placeholder="Name" name="name" required>
            <h3 class="login-title">Project Description:</h1>
            <input type="text" class="login-input" id="desc" placeholder="Description" name="desc" required>
            <h3 class="login-title">Budget:</h1>
            <input type="number" class="login-input" id="budget" placeholder="Budget" name="budget" min="0" required>
            <h3 class="login-title">Start Date:</h1>
            <input type="date" class="login-input" id="start_date" placeholder="Start Date" name="start_date" onchange="minDate(event)" required>
            <h3 class="login-title">End Date:</h1>
            <input type="date" class="login-input" id="end_date" placeholder="End Date" name="end_date" onchange="maxDate(event)" required>
            <button type="submit" class="login-button">Submit</button>
        </form>
        <script defer>
            today = new Date().toISOString().split("T")[0]; // Get todays date
            document.getElementById("start_date").setAttribute("min", today); // Set today as minimun date
            document.getElementById("end_date").setAttribute("min", today); // Set todat as minimum date
            function minDate(e) { // Minimun/maximum date set for end date (one week/one year)
                var D = new Date(e.target.value);
                D.setDate(D.getDate() + 7 * 1);
                D = D.toISOString().split("T")[0];
                document.getElementById("end_date").setAttribute("min", D);
                var D = new Date(e.target.value);
                D.setDate(D.getDate() + 365 * 1);
                D = D.toISOString().split("T")[0];
                document.getElementById("end_date").setAttribute("max", D);
            }
             function maxDate(e) { // Maximum date set for start date
                var D = new Date(e.target.value);
                D.setDate(D.getDate() + 7 * -1);
                D = D.toISOString().split("T")[0];
                document.getElementById("start_date").setAttribute("max", D);
            }
        </script>
    {{/if}}
    <!-- New Task -->
    {{#if projectdata}}
        <button type="button" class="login-button" onclick="location.href='/tasks'">Exit</button>
        <form class="form" action="/create/task" method="POST">
            <h1 class="login-title">New Task</h1>
            <h3 class="login-title">Task Name:</h1>
            <input type="text" class="login-input" id="name" placeholder="Name" name="name" required>
            <h3 class="login-title">Task Description:</h1>
            <input type="text" class="login-input" id="desc" placeholder="Description" name="desc" required>
            <h3 class="login-title">Start Date:</h1>
            <input type="date" class="login-input" id="start_date" placeholder="Start Date" name="start_date" onchange="minDate(event)" required>
            <h3 class="login-title">End Date:</h1>
            <input type="date" class="login-input" id="end_date" placeholder="End Date" name="end_date" onchange="maxDate(event)" required>
            <button type="submit" class="login-button">Submit</button>
        </form>
        <script defer>
            var text = "{{projectdata}}";
            var text = text.replace(/&quot;/g, '\"');
            var obj = JSON.parse(text);
            var project = obj[0];
            document.getElementById("start_date").setAttribute("min", project.start_date.split("T")[0]);
            document.getElementById("start_date").setAttribute("max", project.end_date.split("T")[0]);
            document.getElementById("end_date").setAttribute("min", project.start_date.split("T")[0]);
            document.getElementById("end_date").setAttribute("max", project.end_date.split("T")[0]);
            function minDate(e) {
                var D = new Date(e.target.value).toISOString().split("T")[0];
                document.getElementById("end_date").setAttribute("min", D);
            }
             function maxDate(e) {
                var D = new Date(e.target.value).toISOString().split("T")[0];
                document.getElementById("start_date").setAttribute("max", D);
            }
        </script>
    {{/if}}
    <!-- New Activity -->
    {{#if projectdata1}}
        <button type="button" class="login-button" onclick="location.href='/acts'">Exit</button>
        <form class="form" action="/create/act" method="POST">
            <h1 class="login-title">New Activity</h1>
            <h3 class="login-title">Activity Name:</h1>
            <input type="text" class="login-input" id="name" placeholder="Name" name="name" required>
            <h3 class="login-title">Activity Description:</h1>
            <input type="text" class="login-input" id="desc" placeholder="Description" name="desc" required>
            <h3 class="login-title">Task Completion (%):</h1>
            <input type="number" class="login-input" id="progress" placeholder="Progress" name="progress" min="0" required>
            <h3 class="login-title">Cost:</h1>
            <input type="number" class="login-input" id="cost" placeholder="Cost" name="cost" min="0" required>
            <button type="submit" class="login-button">Submit</button>
        </form>
        <script defer>
            var text = "{{taskdata1}}";
            var text = text.replace(/&quot;/g, '\"');
            var obj = JSON.parse(text);
            var task = obj[0];
            var project = "{{projectdata1}}";
            var project = project.replace(/&quot;/g, '\"');
            var obj = JSON.parse(project);
            var project = obj[0];
            document.getElementById("progress").setAttribute("max", 100-task.progress);
            document.getElementById("cost").setAttribute("max", project.budget);
        </script>
    {{/if}}
</body>