<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8"/>
  <title>Shared</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <nav>
    <h4>Home</h4>
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/myproj">My Projects</a></li>
        <li><a href="/shared">Shared</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>           
</body>
<div id="container" class="grid-container">
  <div class="grid-item" id="grid-item1">
    <h1 class="login-title">Projects:</h1>
      {{#if projects}}
        <div id="projects"> <!-- Div to put projects in -->
        </div>
        <script>
          var text = "{{projects}}"; //Get project
          var text = text.replace(/&quot;/g, '\"'); //Replace quote marks
          var text = "["+text+"]";
          var obj = JSON.parse(text); //Parse to JSON 
          var container = document.getElementById('projects'); // Get container for project
          function project(i){
            const form = document.createElement('form'); // Create form
            form.setAttribute("class","form");
            form.setAttribute("method","POST");
            form.setAttribute("action","/project");
            form.innerHTML = `
                  <input type="hidden" id="ID" name="ID">
                  <h1 id="title" class="login-title"></h1>
                  <h3 id="desc" class="login-title"></h3>
                  <div class="grid-container">
                      <div class="grid-item" id="grid-item1">
                          <input type="submit" value="edit" name="type">
                      </div>
                      <div class="grid-item" id="grid-item2">
                          <input type="submit" value="view" name="type">
                      </div>
                  </div>
            `;
            container.appendChild(form);
            document.getElementById("ID").setAttribute("value", obj[i].proj_id);
            document.getElementById("ID").setAttribute("id", obj[i].proj_id);
            document.getElementById("title").setAttribute("id", "projname"+i);
            document.getElementById("desc").setAttribute("id", "projdesc"+i);
            document.getElementById("projname"+i).innerHTML = obj[i].proj_name;
            document.getElementById("projdesc"+i).innerHTML = obj[i].proj_desc;
          }
          for(let i = 0; i < obj.length; i++) { // Loop through each project
            project(i);
          }
        </script>
      {{/if}} 
  </div>
  <div class="grid-item" id="grid-item2">
    <h1 class="login-title">Tasks:</h1>
      {{#if tasks}}
        <div id="tasks">
        </div>
        <script>
          var text = "{{tasks}}";
          var text = text.replace(/&quot;/g, '\"');
          var text = "["+text+"]";
          var obj = JSON.parse(text);
          var container = document.getElementById('tasks');
          function project(i){
            const form = document.createElement('form');
            form.setAttribute("class","form");
            form.setAttribute("method","POST");
            form.setAttribute("action","/select/tasks");
            form.innerHTML = `
                <input type="hidden" id="ID" name="ID">
                <h1 id="title" class="login-title"></h1>
                <h3 id="desc" class="login-title"></h3>
                <div class="grid-container">
                    <div class="grid-item" id="grid-item1">
                        <input type="submit" value="edit" name="type" >
                    </div>
                    <div class="grid-item" id="grid-item2">
                        <input type="submit" value="view" name="type">
                    </div>
                </div>
            `;
            container.appendChild(form);
            document.getElementById("ID").setAttribute("value", obj[i].task_id);
            document.getElementById("ID").setAttribute("id", obj[i].task_id);
            document.getElementById("title").setAttribute("id", "taskname"+i);
            document.getElementById("desc").setAttribute("id", "taskdesc"+i);
            document.getElementById("taskname"+i).innerHTML = obj[i].task_name;
            document.getElementById("taskdesc"+i).innerHTML = obj[i].task_desc;
          }
          for(let i = 0; i < obj.length; i++) {
            project(i);
          }
        </script>
      {{/if}} 
  </div>
</div>