<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8"/>
  <title>View</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <nav>
    <h4>Home</h4>
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/myproj">My Projects</a></li>
        <li><a href="/shared">Shared</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <!-- Project View -->
  {{#if project}}
    <button type="button" class="login-button" onclick='history.back()'>Back</button>
    <div id="views" class="form">
        <h1 id="title" class="login-title"></h1>
        <h3 id="desc" class="login-title"></h3>
        <h3 id="budget" class="login-title"></h3>
        <h3 id="progress" class="login-title"></h3>
        <div class="grid-container">
            <div class="grid-item" id="grid-item1">
                <h3 id="start" class="login-title"></h3>
            </div>
            <div class="grid-item" id="grid-item2">
                <h3 id="finish" class="login-title"></h3>
            </div>
        </div>
    </div>
    <div id="gantt" class="gantt">
        <div id="weeks" class="weeks" style="text-align: center; height: 25px;">Tasks / Weeks
        </div>
        <div id="tasks" class="tasks" style="height: 200px">
        </div>
    </div>
    <script>
        var text = "{{project}}";
        var text = text.replace(/&quot;/g, '\"');
        var obj = JSON.parse(text);
        var project = obj[0];
        var text = "{{tasks}}";
        var text = text.replace(/&quot;/g, '\"');
        var tasks = JSON.parse(text);
        document.getElementById("title").innerHTML = project.proj_name;
        document.getElementById("desc").innerHTML = project.proj_desc;
        document.getElementById("budget").innerHTML = "Budget: " +project.budget;
        document.getElementById("progress").innerHTML = "Progress: " +project.progress;
        document.getElementById("start").innerHTML = "Start: " +project.start_date.split('T')[0];
        document.getElementById("finish").innerHTML = "Finish: " +project.end_date.split('T')[0];
        function gannt() { // Gannt chart function
            var weekgrid = "10% "; // Week grid with 10% margin at start
            for (let i = 1; i < getweeks(project.start_date, project.end_date)+1; i++){ // Loop through weeks in project
                weekgrid = weekgrid.concat("1fr "); // Add seperator to week grid
                var week = document.createElement('div'); // Create week div
                week.className = "grid-item";
                week.id = "week-item" + i;
                week.innerHTML = i;
                week.style.border = "1px solid rgb(0, 0, 0)";
                document.getElementById('weeks').appendChild(week); // Append to weeks div
            }
            document.getElementById('weeks').style.gridTemplateColumns = weekgrid; // Apply style
            for (let i = 0; i < tasks.length; i++){ // Loop though tasks in project 
                var taskprog = tasks[i].progress; // Get progress of task
                var taskname = document.createElement('div'); // Create task div
                taskname.className = "grid-item";
                taskname.id = "task-item" + i;
                taskname.innerHTML = tasks[i].task_name;
                taskname.style.border = "1px solid rgb(0, 0, 0)";
                document.getElementById('tasks').appendChild(taskname); // Add task to div
                sdtosd = getweeks(project.start_date, tasks[i].start_date); // Get weeks between project start and task start
                sdtoed = getweeks(tasks[i].start_date, tasks[i].end_date); // Get weeks between task start and task end
                edtoed = getweeks(tasks[i].end_date, project.end_date); // Get weeks between task end and project end
                for(let j = 0; j < sdtosd-1; j++){ // Loop through weeks
                    var space = document.createElement('div'); // create space div
                    space.className = "grid-item";
                    space.style.border = "1px solid rgb(0, 0, 0)";
                    document.getElementById('tasks').appendChild(space); // add space to tasks
                }
                for(let j = 0; j < sdtoed; j++){ // Loop through weeks
                    var form = document.createElement('form'); // create form div
                    form.className = "grid-item";
                    form.setAttribute("method","POST");
                    form.setAttribute("action","/select/task"); 
                    form.innerHTML = `   
                    <button type="hidden" id="ID" name="ID" onmouseover="mouseOver()" style="all: unset; display: block; width: 100%; height: 100%; border-top: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0);"></button>
                    <div class="tip">
                        <span class="tiptext" id="tipID"></span>
                    </div>
                    `;
                    document.getElementById('tasks').appendChild(form); // add form to tasks
                    let styles = `linear-gradient(0deg, #22828D ${taskprog}%, #BBBBBB ${taskprog}%)` // create gradient to indicate progress of task
                    document.getElementById("ID").style.background = styles; // append styles
                    document.getElementById("ID").setAttribute("value", tasks[i].task_id);
                    document.getElementById("ID").setAttribute("onmouseover", "mouseOver("+tasks[i].task_id+")");
                    document.getElementById("ID").setAttribute("onmouseout", "mouseOut("+tasks[i].task_id+")");
                    document.getElementById("ID").setAttribute("id", tasks[i].task_id);
                    document.getElementById("tipID").setAttribute("value", tasks[i].task_id);
                    document.getElementById("tipID").setAttribute("id", "T"+tasks[i].task_id);
                }
                for(let j = 0; j < edtoed-1; j++){ // Loop through weeks
                    var space = document.createElement('div'); // create space div
                    space.className = "grid-item";
                    space.style.border = "1px solid rgb(0, 0, 0)";
                    document.getElementById('tasks').appendChild(space); // add space to tasks
                }
            }
            document.getElementById('tasks').style.gridTemplateColumns = weekgrid; // apply style
        }
        function getweeks(sd, ed) { // get weeks between two dates
            var start_date = new Date(sd);
            var end_date = new Date(ed);
            var perweek = 24 * 60 * 60 * 1000 * 7; // week total
            var totalweeks = Math.round((end_date.valueOf()- start_date.valueOf())/ perweek) + 1;
            return totalweeks; // return weeks
        }
        function mouseOver(id) {
            document.getElementById("T"+id).style.visibility = "visible";
            for (let i = 0; i < tasks.length; i++){
                if(tasks[i].task_id == id){
                    document.getElementById("T"+id).innerHTML = "Name: "+tasks[i].task_name+"<br>Start: "+tasks[i].start_date.split('T')[0]+"<br>End: "+tasks[i].end_date.split('T')[0]+"<br>Progress: "+tasks[i].progress+"%";
                }
            }
        }
        function mouseOut(id) {
            document.getElementById("T"+id).style.visibility = "hidden";
        }
        gannt(); // call gannt function
    </script>
  {{/if}}
  <!-- Task View -->
  {{#if task}}
    <button type="button" class="login-button" onclick='history.back()'>Back</button>
    <div id="views" class="form">
        <h1 id="title" class="login-title"></h1>
        <h3 id="desc" class="login-title"></h3>
        <h3 id="progress" class="login-title"></h3>
        <div class="grid-container">
            <div class="grid-item" id="grid-item1">
                <h3 id="start" class="login-title"></h3>
            </div>
            <div class="grid-item" id="grid-item2">
                <h3 id="finish" class="login-title"></h3>
            </div>
        </div>
    </div>
    <script>
        var text = "{{task}}";
        console.log(text);
        var text = text.replace(/&quot;/g, '\"');
        var obj = JSON.parse(text);
        var task = obj[0];
        document.getElementById("title").innerHTML = task.task_name;
        document.getElementById("desc").innerHTML = task.task_desc;
        document.getElementById("progress").innerHTML = "Progress: " +task.progress;
        document.getElementById("start").innerHTML = "Start: " + task.start_date;
        document.getElementById("finish").innerHTML = "Finish: " + task.end_date;
    </script>
  {{/if}}
  <!-- Activity View -->
  {{#if activity}}
    <button type="button" class="login-button" onclick='history.back()'>Back</button>
    <div id="views" class="form">
        <h1 id="title" class="login-title"></h1>
        <h3 id="desc" class="login-title"></h3>
        <h3 id="progress" class="login-title"></h3>
        <h3 id="cost" class="login-title"></h3>
    </div>
    <script>
        var text = "{{activity}}";
        var text = text.replace(/&quot;/g, '\"');
        var obj = JSON.parse(text);
        var activity = obj[0];
        document.getElementById("title").innerHTML = activity.act_name;
        document.getElementById("desc").innerHTML = activity.act_desc;
        document.getElementById("progress").innerHTML = "Progress: " +activity.progress;
        document.getElementById("cost").innerHTML = "Cost: " +activity.cost;
    </script>
  {{/if}}
</body>