<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8"/>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <nav>
    <h4>Home</h4>
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/myproj">My Projects</a></li>
        <li><a href="/sharedproj">Shared Projects</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <button type="button" class="login-button" onclick="location.href='/acts'">Exit</button>
  <div id="activity">
  </div>
  {{#if activity}}
    <script>
        var text = "{{activity}}";
        var text = text.replace(/&quot;/g, '\"');
        var obj = JSON.parse(text);
        var activity = obj[0];

        const div = document.getElementById('activity');
        div.setAttribute("class", "form")

        const Title = document.createElement("h1");
        Title.setAttribute("id", "title");
        Title.setAttribute("class", "login-title");

        const Desc = document.createElement("h3");
        Desc.setAttribute("id", "desc");
        Desc.setAttribute("class", "login-title");

        const Progress = document.createElement("h3");
        Progress.setAttribute("id", "progress");
        Progress.setAttribute("class", "login-title");

        const Cost = document.createElement("h3");
        Cost.setAttribute("id", "cost");
        Cost.setAttribute("class", "login-title");

        div.appendChild(Title)
        div.appendChild(Desc)
        div.appendChild(Progress)
        div.appendChild(Cost)
        document.getElementById("title").innerHTML = activity.act_name;
        document.getElementById("desc").innerHTML = activity.act_desc;
        document.getElementById("progress").innerHTML = "Progress: " +activity.progress;
         document.getElementById("cost").innerHTML = "Cost: " +activity.cost;

        function daysBetween(d1, d2) {
          d1 = new Date(d1);
          d2 = new Date(d2);
          return Math.round((d2 - d1) / (1000 * 60 * 60 * 24));
        }
    </script>
  {{/if}}
</body>