<!DOCTYPE html>
<html lang="en">
<head>    
  <meta charset="utf-8"/>
  <title>View</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
  <nav>
    <h4>Home</h4>
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/myproj">My Projects</a></li>
        <li><a href="/sharedproj">Shared Projects</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <!-- Project View -->
  {{#if project}}
    <button type="button" class="login-button" onclick=location.href='/myproj'>Exit</button>
    <div id="views" class="form">
        <h1 id="title" class="login-title"></h1>
        <h3 id="desc" class="login-title"></h3>
        <h3 id="budget" class="login-title"></h3>
        <h3 id="progress" class="login-title"></h3>
        <div class="grid-container">
            <div class="grid-item" id="grid-item1">
                <h3 id="start" class="login-title"></h3>
            </div>
            <div class="grid-item" id="grid-item2">
                <h3 id="finish" class="login-title"></h3>
            </div>
        </div>
    </div>
    <script>
        var text = "{{project}}";
        var text = text.replace(/&quot;/g, '\"');
        var obj = JSON.parse(text);
        var project = obj[0];
        document.getElementById("title").innerHTML = project.proj_name;
        document.getElementById("desc").innerHTML = project.proj_desc;
        document.getElementById("budget").innerHTML = "Budget: " +project.budget;
        document.getElementById("progress").innerHTML = "Progress: " +project.progress;
        document.getElementById("start").innerHTML = "Start: " +project.start_date.split('T')[0];
        document.getElementById("finish").innerHTML = "Finish: " +project.end_date.split('T')[0];
    </script>
  {{/if}}
  <!-- Task View -->
  {{#if task}}
    <button type="button" class="login-button" onclick=location.href='/tasks'>Exit</button>
    <div id="views" class="form">
        <h1 id="title" class="login-title"></h1>
        <h3 id="desc" class="login-title"></h3>
        <h3 id="progress" class="login-title"></h3>
        <div class="grid-container">
            <div class="grid-item" id="grid-item1">
                <h3 id="start" class="login-title"></h3>
            </div>
            <div class="grid-item" id="grid-item2">
                <h3 id="finish" class="login-title"></h3>
            </div>
        </div>
    </div>
    <script>
        var text = "{{task}}";
        var text = text.replace(/&quot;/g, '\"');
        var obj = JSON.parse(text);
        var task = obj[0];
        document.getElementById("title").innerHTML = task.task_name;
        document.getElementById("desc").innerHTML = task.task_desc;
        document.getElementById("progress").innerHTML = "Progress: " +task.progress;
        document.getElementById("start").innerHTML = "Start: " +task.start_date.split('T')[0];
        document.getElementById("finish").innerHTML = "Finish: " +task.end_date.split('T')[0];
    </script>
  {{/if}}
  <!-- Activity View -->
  {{#if activity}}
    <button type="button" class="login-button" onclick=location.href='/acts'>Exit</button>
    <div id="views" class="form">
        <h1 id="title" class="login-title"></h1>
        <h3 id="desc" class="login-title"></h3>
        <h3 id="progress" class="login-title"></h3>
        <h3 id="cost" class="login-title"></h3>
    </div>
    <script>
        var text = "{{activity}}";
        var text = text.replace(/&quot;/g, '\"');
        var obj = JSON.parse(text);
        var activity = obj[0];
        document.getElementById("title").innerHTML = activity.act_name;
        document.getElementById("desc").innerHTML = activity.act_desc;
        document.getElementById("progress").innerHTML = "Progress: " +activity.progress;
        document.getElementById("cost").innerHTML = "Cost: " +activity.cost;
    </script>
  {{/if}}
</body>